.heading_image{
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 60%;
    height: 100vh;
    margin-top: -200px;
    margin-left: 350px;
  }